.App {
  text-align: center;
}

.page{
  height: 200vh;
  align-items: center;
  justify-content: center;
}

.heading{
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.img-holder{
  width: 1000px;
  border: 3px solid black;
  border-radius: 5px;
}
.img{
  width: 1000px;
  object-fit: contain;
}

.toggle-container {
  width: 70px;
  background-color: #c4c4c4;
  cursor: pointer;
  user-select: none;
  border-radius: 3px;
  padding: 2px;
  height: 32px;
  position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
